.imageVideo
    heigth: 15rem
    width : 10rem
    position: relative
    z-index: 102
    box-sizing: border-box
    
    @media (min-width: 1024px) 
    heigth: 35rem
    width : 20rem
    position: relative
    z-index: 102
    box-sizing: border-box